header {
    background-color: #80c29d;
    padding: 15px;
    position: sticky;
    top: 0;
}
nav {
    display: flex;
    gap: 20px;
}

nav a{
    text-decoration: none;
    padding: 5px;
    color: white;
}

nav a:hover{
    background-color: #468065;
    border-radius: 10px;
}

main {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

article {
    background-color: #c1e3cd;
    width: 400px;
    text-align: center;
    padding: 15px;
    border-radius: 20px;
}

footer {
    padding: 15px;
    background-color: #80c29d;
    text-align: center;
}

.post-header {
    display: flex;
    justify-content: space-between;
}

.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.post-image {
    width: 100%;
    border-radius: 10px;
    max-width: 350px;
    padding: 6px;
}

.reaction {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    display: block;
    margin-right: auto;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.username {
    font-weight: bold;
}